@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background: radial-gradient(
      circle at top left,
      rgba(59, 130, 246, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(99, 102, 241, 0.15),
      transparent 40%
    );
}

.blob1,
.blob2 {
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(59, 130, 246, 0.2);
  filter: blur(100px);
  border-radius: 50%;
  z-index: 0;
}

.blob1 {
  top: -100px;
  left: -100px;
}

.blob2 {
  bottom: -100px;
  right: -100px;
}
